.wrapper {
  display: flex;
}

.side-contents {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-top {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-create {
    font-size: 10px;
}

.chat-create a{
  color: deepskyblue;
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
}

.side-bot {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}

.main-contents {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100% - 300px);
}

.main-top {
  height: 100px;
  padding: 0 40px;
}

.main-mid {
  height: calc(100% - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}

.main-bot {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}